<div class="container mt-5">
    <h3 class="text-center mb-4">Add Pin</h3>
    <form [formGroup]="pinDataForm" (ngSubmit)="_addPins()">
      <div class="row">
        <label class="col-2" for="title">Title</label>
        <input type="text" class="col-10  " formControlName="title">
        <span class="text-danger warning" *ngIf="pinDataForm.get('title')?.touched && pinDataForm.get('title')?.invalid">
          please enter title
        </span>
      </div>
  
      <div class="row">
        <label class="col-2" for="title">Select Image</label>
        <div class="col-10 w-25 " (drop)="handleDrop($event)" (dragover)="allowDrop($event)">
          <div class="dropzone" [class.dragover]="isDragOver" formControlName="image">
        
            {{ selectedImageName? selectedImageName : 'Drag And Drop Image'  }}
          </div>
          
         
        </div>

        <span class="text-danger warning" *ngIf="pinDataForm.get('image')?.touched && pinDataForm.get('image')?.invalid">
          Please choose an image
        </span>
      </div>
  
      <div class="row">
        <label class="col-2" for="title">Select Collaborators</label>
        <ngx-select class="col-10" [items]="userData" [multiple]="true" formControlName="colobrators"></ngx-select>
        <span class="text-danger warning" *ngIf="pinDataForm.get('colobrators')?.touched && pinDataForm.get('colobrators')?.invalid">
          Please select collaborators
        </span>
      </div>
  
      <div class="row">
        <label class="col-2" for="title">Privacy</label>
        <input type="radio" value="public" class="col-1" formControlName="privacy"> public
        <input type="radio" value="private" class="col-1" formControlName="privacy"> private
        <span class="text-danger warning" *ngIf="pinDataForm.get('privacy')?.touched && pinDataForm.get('privacy')?.invalid">
          Please select privacy
        </span>
      </div>
  
      <div class="row d-flex justify-content-center mt-5">
        <button class="btn rounded-0 btn-outline-secondary col-5" type="submit" [disabled]="pinDataForm.invalid">
          Add Pins
        </button>
      </div>
    </form>
  </div>
  