<div >
    <div class="container mt-5">
        <div class="row ">
            <div class="col d-flex justify-content-end">
              <button class=" w-25 btn btn-secondary btn-block" (click)="_goto_addCutomer()">AddCustomer</button>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col d-flex justify-content-end">
              <button class=" w-25 btn btn-secondary btn-block" (click)="_goto_addPins()">Add Pin</button>
            </div>
          </div>
    <div class="row mt-2">
      <table class="table"  id="pinDataTable">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Image</th>
      <th scope="col">Colobrators</th>
      <th scope="col">Privacy</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let pin of pinsData">
      <td>{{pin.title}}</td>
      <td><img src="{{pin.img.img}}" class="pinImg" alt="{{pin.img.img}}"></td>
      <td>{{pin.colobrators }}</td>
      <td>{{pin.privacy}}</td>
    </tr>
    
  </tbody>
</table>
  
</div>