button{
     width: 5%;
}
.container_btnContainer{
 display: flex;
 justify-items: end;
}
#pinDataTable,tr,td,th{
    border: 1px solid black;
    text-align: center;
}
.pinImg{
     width: 25px;
     height: 20px;
}