<div class="container ">
    <h3 class="text-center">Add Customer</h3>
    <form  [formGroup]="addCustomerForm" (ngSubmit)="addCustomer()" >

      <div class="container">
        <div class="row">
      
                <label class="col-2" for="">Title</label>
                <input class="col-10" type="text" id="title" formControlName="title">
                <span class="text-danger warning" *ngIf="addCustomerForm.get('title')?.touched&& addCustomerForm.get('title')?.invalid ">please enter title</span>
            </div>
            <div class="row">
                <label class="col-2" for="">email</label>
                <input class="col-10" type="email" id="email" formControlName="email">
                <span class="text-danger warning" *ngIf="addCustomerForm.get('email')?.touched&& addCustomerForm.get('email')?.invalid ">please enter valid email</span>
            </div>
            <div class="row">
                <label class="col-2" for="">country</label>
               <select class="col-10" name="country" id="country"  formControlName="country"  >
                <option  *ngFor="let country of countryData" value="{{country}}" >{{country}}</option>
               </select>
               <span class="text-danger warning" *ngIf="addCustomerForm.get('country')?.touched&& addCustomerForm.get('country')?.invalid ">please select country</span>
            </div>
            <div class="row">
      
                <label class="col-2" for="">region</label>
               <select class="col-10"  name="region" id="region" formControlName="region" >
                <option value="{{region}}" *ngFor="let region of regionData">{{region}}</option>
               </select>
               <span class="text-danger warning" *ngIf="addCustomerForm.get('region')?.touched&& addCustomerForm.get('region')?.invalid ">please select region</span>
            </div>
            <div class="row d-flex justify-content-center  ">
                <button [disabled]="addCustomerForm.invalid" class=" w-25  btn rounded-0 btn-outline-secondary  col-5" type="submit"> Add Customer</button>
            </div>
      </div>
       
    </form>
</div>